
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: AnekMalayalam;
    src: url(./assets/AnekMalayalam-Medium.woff2);
}

*{
    font-family: AnekMalayalam;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 3px;
    height: 0;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #3f2d23aa; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

html{
  scroll-behavior: smooth;
}